/* 
#################################################
#	Author	:	S.M.Thushara Sampath	#
#	ID	:	K0191622		#
#	Page	:	form_style.css		#
#################################################
*/
/* Register.php */

input.form_element {
	width: 221px;
	background: transparent url('../images/bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
	border:#09F;
}
label {
	width: 150px;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	font-size:15px;
	color:#1D4664;
	font-weight:normal;
}
.style_form {
	margin:10px;
}
#header {
	padding: 10px;
	text-align: left;
	font-size:20px; color:#1D4664; font-weight: bold;
	border: solid 1px #E0E0E0;
	background-color: #F4F4F8;
}
#header p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.hinfo {
	font-size: 13px;
	color: #1D4664;
	font-weight:lighter;
}
#submit_btn {
	margin-left:158px;
	height:auto;
	width:auto;
}
#check_available {
	margin-left:210px;
	height:auto;
	width:auto;
	font-size:12.4px;
}
.login_txt {
	margin-left:158px;
	font-size:12px; color:#666;
}
#register_form {
	border: solid 1px #E0E0E0; 
	float:none;
	width: 559px;
	height:auto;
	margin-top:5px;
	margin-bottom:20px;
	background-color:#FFF;
	padding:20px;
}
#availability_status {
	font-size:11px;
	margin-left:10px;
}
#confirmation_status {
	margin-left:10px;
}
#strength_status {
	font-size:11px;
	margin-left:10px;
}
#reg_error {
	color:#F00;
	font-size: 13px;
	padding: 5px;
	text-align: center;
	width:auto;
	display:block;
	visibility:hidden;
	border: solid 1px #E0E0E0; 
	background-color:#FCC;
	
}

/* Login.php */

#login_form {
	border: solid 1px #E0E0E0;  
	float:none;
	width: 558px;
	height:auto;
	margin-top:5px;
	margin-bottom:20px;
	background-color:#FFF;
	padding:20px;
}
#login_btn {
	margin-left:158px;
	height:auto;
	width:auto;;
}
#log_error {
	color:#F00;
	font-size: 13px;
	padding: 5px;
	text-align: left;
	width:auto;
	display:block;
	visibility:hidden;
	border: solid 1px #E0E0E0; 
	background-color:#FCC;
}

.join_txt {
	margin-left:5px;
	font-size:12px; color:#666;
}
/* Admin.php */

.a_interface{
	border: solid 1px #E0E0E0; 
	background-color: #FFF;
	color: #1D4664;
	height:auto;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	
}
.a_head {
	margin-top: 10px;
	height: 20px;
	text-align:center;
	background-color: #F4F4F8;
	padding:5px;
	font-size:14px; color:#1D4664;
	font-weight:bold;
	border: solid 1px #E0E0E0; 
}
.aview{
	font-weight:bold;
	height:auto;
	text-align: left;
	border: solid 1px #E0E0E0; 
	padding:5px;
	font-size:12px; color:#1D4664;
	margin-top:5px;
	margin-bottom:5px;
}
.auser_table{
	font-size:12px;
	color:#1D4664;
	font-weight:bold;
	text-align: center;
	padding:5px;
	width:690px;
}


/* Index.php */

#index_body {
	border: solid 1px #E0E0E0; 
	float:none;
	width: 550px;
	height:350px;
	margin-top:5px;
	margin-bottom:20px;
	background-color:#FFF;
	padding:20px;
}

.tform_head {
	margin-top: 10px;
	height: 20px;
	background-color: #F4F4F8;
	cursor: pointer;
	padding:4px;
	font-size:12px; color:#1D4664;
	font-weight:bold;
	border: solid 1px #E0E0E0; 
	border-width:thin;
	position:static;
	
}
.m_head {
	margin-top:auto;
	height: 22px;
	text-align:center;
	background-color: #F4F4F8;
	padding:5px;
	width:auto;
	font-size:12px; color:#036;
	font-weight:bold;
	border: solid 1px #E0E0E0; 
}
.m_index {
	font-size:12px; font-weight:bold; 
	font: Verdana;	
	color:#FFFFFF;
	background:#09C;
	padding:5px;
	height:auto;
	
}
.m_head_result {
	margin-top:5px;
	height: 20px;
	text-align:left;
	padding:5px;
	width:auto;
	color:#09C;
	font-size:12px;
	font-weight:bold;
	border: solid 1px #E0E0E0; 
}
.m_interface{
	border: solid 1px #E0E0E0; 
	background-color: #FFF;
	color: #1D4664;
	height:auto;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.indexview{
	font-weight:inherit;
	font-family:Verdana, Geneva, sans-serif;
	height:auto;
	width:auto;
	text-align:justify;
	padding:5px;
	font-size:13px; color:#666;
	margin-top:5px;
	margin-bottom:5px;
}
.ilog {
	font-size:12px; 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.ilogin {
	font-size:14px; font-weight:bold; 
	font: bold .9em Verdana;
	color:#FFFFFF;
	background:#09C;
	padding:5px;
}
.ilogintable {
	border: solid 1px #E0E0E0; 
	padding:5px;
}
.index_head {
	border: solid 1px #E0E0E0; 
	font: bold .9em Verdana;
	padding:5px;
	color:#036;
	background-color: #F4F4F8;
}
#in_log_error {
	color:#F00;
	padding: 5px;
	text-align: center;
	width:auto;
	display:block;
	visibility:hidden;
	border: solid 1px #E0E0E0; 
	background-color:#FCC;
}


/* Member.php */

#mform_error {
	color:#F00;
	font-size: 13px;
	padding: 5px;
	text-align: left;
	width:auto;
	display:block;
	visibility:hidden;
	border: solid 1px #E0E0E0; 
	background-color:#FCC;
	
}
#mform_sucess {
	color:#060;
	font-size: 13px;
	padding: 5px;
	text-align: left;
	width:auto;
	display:block;
	visibility:hidden;
	border: solid 1px #E0E0E0; 
	background-color:#CFC;
}

.tform_body {
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	background-color:#FFFFFF;
	height:auto;
	text-align:left;
	border: solid 1px #E0E0E0; 
}
.tupform_body {
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	background-color:#FFFFFF;
	height:auto;
	text-align:center;
}
.form_databody {
	background-color:#FFFFFF;
	height:auto;
	text-align:center;
	border: solid 1px #E0E0E0; 
	
}
.upformlabel{
	font-size:12px;
	color:#1D4664;
	font-weight:bold;
	text-align: cleft;
	width:auto;
}
.mlabel{
	font-size:12px;
	color:#1D4664;
	font-weight:bold;
	text-align: right;
	width:150px;
	
}
.m_sel_element {
	width:235px;
	background: transparent url('../images/bg.jpg') no-repeat;
	color : #747862;
	height:28px;
	border:0;
	padding:4px 4px;
	margin-bottom:0px;
}
.txt_area {
	width: 340px;
	background: transparent url('../images/bg_txtarea.jpg') no-repeat;
	color : #747862;
	border:0;
	padding:4px 4px;
	margin-bottom:0px;
}
.cancel_txt {
	margin-left:5px;
	font-size:12px; color:#666;
}
.mdata_table{
	font-size:12px;
	color:#1D4664;
	font-weight:bold;
	text-align: center;
	padding:5px;
	width:520px;
}
.mdata_table_th{
	font-size:12px;
	color:#1D4664;
	font-weight:bold;
	text-align: center;
	padding:5px;
	border: solid 1px #E0E0E0; 
}
.mdata_table_td{
	font-size:12px;
	color:#1D4664;
	font-weight:normal;
	text-align: center;
	padding:5px;
	border: solid 1px #E0E0E0; 
}
.mview{
	font-size:13px;
	color:#1D4664;
	font-weight:bold;
	height:auto;
	text-align: left;
	padding:5px;
	border: solid 1px #E0E0E0; 
}
/* Logout Display DIV */

.forms_group {
	clear: both;
	border: solid 1px #E0E0E0; 
	background-color: #FFF;
	color: #1D4664;
	padding-bottom:20px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;

}
#apDiv1 {
	position:absolute;
	width:301px;
	height:15px;
	z-index:1;
	left: 575px;
	top: 140px;
	padding:5px;
	font-size:12px;
	color:#FFF;
	font-weight:bold;
}
#apDiv1 a{

	color:#0FF;
	font-weight:bold;
}
#apDiv1 a:hover{
	color:#036;
	font-weight:bold;
}



.txt_address {
	width: 340px;
	background: transparent url('../images/bg_txt_add.jpg') no-repeat;
	color : #747862;
	border:0;
	padding:4px 4px;
	margin-bottom:0px;
}
.m_element_year {
	background: transparent url('../images/bg_year.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 4px;
	margin-bottom:0px;
	
	
}
.m_sel_month {
	background: transparent url('../images/bg_year.jpg') no-repeat;
	color : #747862;
	height:28px;
	width:90px;
	border:0;
	padding:4px 4px;
	margin-bottom:0px;
	
}
.m_per_element {
	width: 150px;
	background: transparent url('../images/bg_per.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 4px;
	margin-bottom:0px;
	
}
.m_per_sel_element {
	width: 150px;
	background: transparent url('../images/bg_per.jpg') no-repeat;
	color : #747862;
	height:28px;
	border:0;
	padding:4px 4px;
	margin-bottom:0px;
	
}
#update_btn {
	margin-left:158px;
	text-align:center;
	height:auto;
	width:auto;
}
#addnew_btn {
	margin-left:158px;
	text-align:center;
	height:auto;
	width:auto;
}
.field_tip_txt {
	margin-left:158px;
	font-size:11px; color:#1D4664;
}
#form_edit_error {
	color: #770029;
	font-size: 13px;
	padding: 5px;
	text-align: right;
	display:block;
	visibility:hidden;
	
}

/* Edit pages */

.t_edit_head {
	margin-top: 10px;
	height: 20px;
	background-color: #F4F4F8;
	padding:4px;
	font-size:12px; color:#1D4664;
	font-weight:bold;
	border: solid 1px #E0E0E0; 

}
.t_edit_body {
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	background-color:#FFFFFF;
	height:auto;
	text-align:left;
}
/* members - View_profile.php */

.mview_table_td{
	font-size:12px;
	color:#1D4664;
	font-weight:normal;
	text-align: left;
	padding:5px;
}
.view_table_td {
	padding:10px;
	border: solid 1px #E0E0E0; 
}
/*.viewforms_group {
	clear: both;
	background-color: #FFF;
	padding-bottom:20px;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:10px;

}*/
.pubview{
	height:auto;
	border: solid 1px #036; 
	padding-left:24px;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size-adjust:inherit;
	font-size:20px; 
	margin-top:5px;
	margin-bottom:5px;
}
.v_head {
	margin-top:auto;
	height: 20px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #F4F4F8;
	padding-left:24px;
	padding-top:5px;
	padding-right:20px;
	padding-bottom:5px;
	width:auto;
	font-size:16px;
	font-weight:bold;
	border: solid 1px #036;  
}
.vtd {
	font-size:13px; 
	font-weight:lighter; 
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.v_table_th{
	font-size:13px;
	font-weight:bold;
	text-align: center;
	color:#333;
	padding:5px;
	border: solid 1px #E0E0E0; 
}
/* members - Remove Form Data */
.mlabel_geder{
	font-size:12px;
	color:#1D4664;
	font-weight:bold;
	width:auto;
}

/* 404 Error page */
.errorview{
	font-size:18px;
	color:#1D4664;
	font-weight:bold;
	height:auto;
	text-align: left;
	padding:5px;
}
.err_interface{
	background-color: #FFF;
	color: #1D4664;
	height:350px;;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
}

/* Serch page */
.s_interface{
	border: solid 1px #E0E0E0; 
	background-color: #FFF;
	color: #1D4664;
	height:400px;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.s_td{
	padding: 8px;
	font-size:13px; 
	font-weight:lighter; 
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	border-bottom: solid 1px #E0E0E0;
}
#search_btn {
	height:auto;
	width:50px;
}
#search_error {
	color:#F00;
	font-size: 13px;
	padding: 5px;
	text-align: center;
	width:auto;
	display:block;
	visibility:hidden;
	border: solid 1px #E0E0E0; 
	background-color:#FCC;
	
}
.search_result {
	font-weight:bold; 
	font-size:16px; 
	font-family:Arial, Helvetica, sans-serif;
	color:#036;
}
#search_resultlink {
	margin-top:5px;	
	height: 15px;
	text-align:center;
	font-size: 12px;
	background-color:#09c;
	border: solid 1px #E0E0E0; 
	padding:5px;
	width:80px;
}
#search_resultlink a {
	color:#FFF;
}
#search_resultlink a:visited {
	color: #FFF;
}
#search_resultlink a:hover, #search_resultlink selected a {
	color:#036;
}